@charset "UTF-8";

body{
    background-color: white;
    
}
@media (max-width: 768px) {
    
    .pequeno{
        text-align: center;
        background-image: url("Imagens/layout_01.jpg");
        background-size: 350px;
        height: 900px;
        background-repeat: no-repeat;
        text-align: center;
        background-position: center top -10px;

    }
    .grande{
        display: none;
    }
    
    
}
@media (min-width: 768px) and (max-width: 2000px){
    .pequeno{
        display: none;
    }
    .grande{
        
        background-image: url("Imagens/layout_01.jpg");
        background-size: 600px;
        height: 800px;
        background-repeat: no-repeat;
        text-align: center;
        background-position: center top;
        
        
    }
    
    
}