@charset "UTF-8";

body{
        background-image: url("Imagens/space.jpg");

}

@media screen and (max-width: 768px){

    .fundo_line{
        border: 2px solid white;
        border-radius: 2px;
        background-color: aquamarine;
        width: 200px;
        height: 550px;
        position: absolute;
        left: 60px;
        top: -10px;
        background-repeat: no-repeat;
        text-align: center;
    }
    
    
}